:root{
    --main-color : #fe4a55;
    --black-color : #221638;
    --text-color : #6c757d;
}

.contact{
    margin-top: 5rem;
}


.container .top-content{
    width: 100vw;
    height: 220px;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(239, 246, 242);
}

h3{
    color: var(--black-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0.8px;
}

h4{
    color: var(--black-color);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.2px;

}

h4 span{
    color: #6c757d;
}

.bottom-content{
    display: flex;
    padding: 4rem 6rem;
}

.bottom-content .left-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.left-content p{
    max-width: 550px;
    color: #6c757d;
}

.left-content .details{
    color: var(--main-color);
    font-size: 19px;
}

.left-content .liste-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
}

.left-content .liste-container .liste-item{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.liste-item h4{
    color: var(--black-color);
    font-size: 28px;
}
.liste-item p{
    color: var(--text-color);
    font-size: 19px;
    font-weight: 400;
    max-width: 400px;
    line-height: 32px;

}
.liste-item span{
    font-size: 19px;
    color: var(--main-color);
    font-weight: 400;
    
}

.bottom-content .right-content{
    flex: 1;
}

.right-content .form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--main-color);
    border-radius: 0.7rem;
    padding: 2rem;
    color: white;
    max-width: 580px;
}

.form-container .top-content-form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.top-content-form h3{
    color: white;
    letter-spacing: 0.3px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;

}

.form-container .top-content-form p{
    color: rgb(228, 227, 227);
}

input , textarea{
    background: #b3323b;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 0.3rem;
    color: white;
    margin: 0.7rem 0;
    max-width: 500px;
    resize: none;
 
}

::placeholder{
    color: rgb(233, 233, 233);
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 16px;
}

.submit{
    background: var(--black-color);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.8px;


}

.submit:hover{
    background: white;
    color: var(--main-color);
}


@media screen and (max-width : 1050px){
    .bottom-content{
    flex-direction: column;
    gap: 50px;
    padding: 4rem;
    }
    
}